.project {
  .calculate-green {
    background: #8CE194 !important;
    border-color: #8CE194 !important;
  }

  .calculate-red {
    background: #d0301b !important;
    border-color: #d0301b !important;
  }

  .calculate-yellow {
    background: #FAFF00 !important;
    border-color: #FAFF00 !important;
  }
}