/* Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #e64942;

/* Colors Button */
$color-button-default: #1484bd;

$color-disabled: rgba(255, 255, 255, .5);
$color-placeholder: rgb(135, 135, 135);


/* Font */
$default-font-size: 12px;
$large-font-size: 24px;
$medium-font-size: 14px;
$small-font-size: 8px;
